/backend/target

/frontend/build
/frontend/dist
/frontend/node_modules
/frontend/package-lock.json


/nginx/logs/

=======
.env

/.idea
/.vscode
*.swp
*.swo
.DS_Store

.cache


/nginx/logs/access.log
/nginx/logs/error.log
